<% include ../partials/header %>
<div class="jumbotron">
  <div class="container">
         
  <img src="img/brackets.png" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
</div>
  <div class="text-center">
    <h1>เทียนทันตคลินิค</h1>
    <h3>เวลาทำการ</h3>
    <h5>จันทร์-พฤหัสบดี เปิด 17.00 - 20.00</h5>
    <h5>เสาร์-อาทิตย์ เปิด 09.00 - 17.00</h5>
    <h3>หยุดทุกวันศุกร์</h3>
  </div>
</div>


  <% include ../partials/footer %>